{% extends 'Freeforall/base.html' %}
{% load static %}

{% block contenedor %}
{% if request.session.logueo.2 == 'A' or request.session.logueo.2 == 'E' or request.session.logueo.2 == 'C'  %}
<br>
<br><br>
<br>
<br><br>
<div class="container">
    <div class="row">
       <div class="col-md-12 ">
          <div class="titlepage">
             <h2>Registro Liga</h2>
             <span> llena cada campo con los datos indicados</span>
          </div>
       </div>
    </div>
    <div class="container">
        <div class="row">
            <form class="col s12" action="{% url 'Freeforall:guardarLiga' %}" method="POST">{% csrf_token %}
                <div class="row">
                    <label for="titulo">nombre_liga</label>
                    <div class="input-field col s12">
                        <input id="titulo" type="text" class="form-control" name="nombre_liga" required>
                        
                    </div>
                    <div class="form-btns">
                        <button type="submit" class="btn btn-primary">Guardar liga</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>    
{% endif %}
{% endblock %}